<div class="container mt-4">
  <h3>User List</h3>
  <table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      @for (header of headers; track header) {
        <th>{{ header }}</th>
        
      }
         <th>Actions</th>
    </tr>
  </thead>
  <tbody>
   @for (user of users; track user.id; let rowIndex = $index) {
  <tr>
    @for (header of headers; track header) {
      <td>
        @if (!(editingCell?.row === rowIndex && editingCell?.header === header)) {
          <div (dblclick)="enableEdit(rowIndex, header)">
            {{ user[header] }}
          </div>
        }
        @if (editingCell?.row === rowIndex && editingCell?.header === header) {
          <input
            [(ngModel)]="user[header]"
            (blur)="disableEdit()"
            class="form-control"
            autofocus
          />
        }
      </td>
    }
    <td>
      <button
        class="btn btn-primary btn-sm"
        (click)="goToDetails(user)"
      >
        View
      </button>
    </td>
  </tr>
}


  </tbody>
</table>

</div>